[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = { version = "4", features = ["compress-gzip", "compress-brotli"] }
actix-cors = "0.7"
actix-files = "0.6"
actix-governor = "0.6"
csv = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
